/* Tile */
.tile {
    position: absolute;
    display: flex;
    align-items: baseline;
    left: 15px;
    bottom: -73px;
}
  .tile_color_div {
    width: 10px;
    height: 35px;
    display: block;
    margin-right: 10px;
    background: var(--bg);
    border-radius: var(--br);
  }
  .tile span {
    font-weight: 500;
    font-size: 14px;
    color: var(--bg);
  }
  
  .green_tile .tile_color_div{
      background: #07C503;
  }
  
  .green_tile span{
      color: #07C503;
  }

  .tile_color_present{
    background: #19e719 !important;
  }
  .tile_color_absent{
    background: red !important;
  }
  .tile_color_pending{
    background:rgb(255, 226, 71) !important;
  }


  @media screen and (max-width:700px) {
    .tile{
      display: none;
    }
  }