.Btn {
    width: max-content;
    padding: 0 30px;
    display: flex;
    height: 40px;
    border-radius: var(--br);
    cursor: pointer;
    font-weight: 500;
    background: var(--bg);
    color: white;
    border: 1px solid var(--bg);
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
